<h1> Entities </h1>

<div>
  <% @entities.each do |e| %>
  <div>
    <b> <%= EntityType.find_by_id(e.entity_type_id).value %> </b> | 
    <%= e.display_name %> | 
    <i> <%= e.description %> </i>
  </div>
  <% end %>
</div>