<h1> Entities </h1>
<div>
  <% @entities.each do |e| %>
  <div>
    <b> <%= @entity_types[e.entity_type_id] %> </b> | 
    <%= link_to e.display_name, e %> | 
    <i> <%= e.description %> </i>
  </div>
  <% end %>
</div>