<h1>Products#index</h1>
<div id="products">
  <% @products.each do |p| %>
    <div>
      <%= link_to p.name, p %>
    </div>
  <% end %>
</div>

</p><%= link_to "Add Product", new_exempla_product_path if authenticated? %>